# Configuration for Pimon

mqtt:
    broker: 127.0.0.1
    port: 1883
    username: mymqttusername  # Login to broker. Delete if not required
    password: mymqttpassword  # Login to broker. Delete if not required
    topic_prefix: pimon

# If this is set to true the script will send just one message containing all values
bulk:
    group_messages: false
    format_as_json: false

# Time of a loop cycle
loop_time: 30

# This is the time between sending the individual messages
sleep_time: 0.5

# If this is set, then the script will send MQTT discovery messages meaning a config less setup in HA. Only works
# when group_messages is set to false
discovery_messages: true

messages:
    cpu_load: true
    cpu_temp: true
    diskusage: true
    voltage: true
    sys_clock_speed: true
    swap: true
    memory: true
    uptime: true
    # Enable wifi_signal for unit of measuring % or wifi_signal_dbm for unit of meaning dBm
    wifi_signal: false
    wifi_signal_dbm: false